{% extends "base.html" %}
{% block content %}
 
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

<div>
  <form id='test' name='test'>
  {{ macros.setting_input_text_and_buttons('fileid', '파일ID', [['play_video_btn', '재생']], desc=['재생할파일의ID']) }}
  </form>
</div> <!--전체-->

<!--videoplay modal-->
{{ macros.m_modal_start('playvideo_modal', '영상재생', 'modal-lg') }}
<video id=player width=960 height=540 class="video-js vjs-default-skin vjs-16-9" autoplay controls>
  <source id='video_src' src="" type="" />
</video>
{{ macros.m_modal_end() }}
 
<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var proxy_url = "{{arg['proxy_url'] }}";
var player = null;
 
$(document).ready(function(){
});

$(function(){
    $('#playvideo_modal').modal({
        show: false
    }).on('hidden.bs.modal', function(){
        //$(this).find('video')[0].pause();
	player.pause();
    });
});

$("body").on('click', '#play_video_btn', function(e) {
  e.preventDefault();
  var str = '';
  var fileid = document.getElementById('fileid').value;
  var video_url = proxy_url + ((proxy_url.indexOf('?') == -1) ? '?' : '&') + 'f=' + fileid;

  document.getElementById("video_src").setAttribute("src", video_url);
  document.getElementById("video_src").setAttribute("type", mtype);
  $("#playvideo_modal").modal();
  player = videojs('player');
  player.play();

  /*
  str = '<video controls autostart="true" playsinline id="myVideo">';
  str += '<source type="video/mp4" src="'+video_url+'" width="720px"/>';
  str += '</video>'
  document.getElementById("playvideo_div").innerHTML = str;
  player = new Plyr(document.getElementById('myVideo'));
  $("#playvideo_modal").modal();
  player.play();
  */
});

</script>
{% endblock %}
