{% extends "base.html" %}
{% block content %}
 
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

<div>
  <form id='test' name='test'>
  {{ macros.setting_input_text_and_buttons('fileid', '파일ID', [['play_video_btn', '재생']], desc=['재생할파일의ID']) }}
  </form>
</div>
<div>
<form name="playform">
  <input type="hidden" id="play_title" name="play_title">
  <input type="hidden" id="play_source_src" name="play_source_src">
  <input type="hidden" id="play_source_type" name="play_source_type">
</form>
</div> <!--전체-->
<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var proxy_url = "{{arg['proxy_url'] }}";
var player = null;
 
$(document).ready(function(){
});

$("body").on('click', '#play_video_btn', function(e) {
  var fileid = document.getElementById('fileid').value;
  var str = '';
  var video_url = proxy_url + ((proxy_url.indexOf('?') == -1) ? '?' : '&') + 'f=' + fileid;
  
  var form = document.playform;
  var url = '/system/videojs';
  var popupWidth = 980;
  var leftPos = screen.width - popupWidth;
  window.open('', fileid, "location=no,directories=no,resizable=no,status=no,toolbar=no,menubar=no,width=" + popupWidth + ", height=560, top=100, left=" + leftPos);
  form.action = url;
  form.method = "post";
  form.target = fileid;

  $('#play_title').val('영상재생');
  $('#play_source_src').val(video_url);
  $('#play_source_type').val('video/mp4');
  form.submit();
});

</script>
{% endblock %}
