{% extends "base.html" %}
{% block content %}
 
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

<div>
<form id="form_search" name="form_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid" align="center">
        <span class="col-md-12" align="center">
          <span class="col-md-2" style="align-items:center; text-align:center;">
           <span id="remote_options_div"></span>
          </span>
	  <span class="col-md-8">
           <input type="text" id="current_path" class="form-control form-control-sm w-50" placeholder="현재경로가표시됨" readonly>
	  </span>
          <span class="col-md-4">
           {{ macros.m_button_group([['search_btn', '검색'], ['refresh_btn', '새로고침'], ['reset_cache_btn', '캐시삭제']]) }}
          </span>
        </span>
       </div>
    </div>
  </form>
<div style="word-break: break-all;">
<span class="col-md-12" style="align-items:left; text-align:center;">
<div class="list-group" id="select_gdrive_file_list">
</div>
</span>
</div>
 <hr>
</div> <!--전체-->

<!--videoplay modal-->
{{ macros.m_modal_start('playvideo_modal', '영상재생', 'modal-lg') }}
<video id=player width=960 height=540 class="video-js vjs-default-skin vjs-16-9" autoplay controls>
  <source id='video_src' src="" type="" />
</video>
{{ macros.m_modal_end() }}

<!--videoplay modal-->
<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var proxy_url = "{{arg['proxy_url'] }}";
var remote_str = "{{arg['remote_names'] }}";
var default_remote = "{{arg['gdproxy_remote_name'] }}"
var remote_names = remote_str.split('|');
var curr_remote = "{{arg['last_remote']}}"
var curr_folderid = "{{arg['last_folderid']}}"
var curr_path = "{{arg['last_path']}}"
var player = null;
 
$(document).ready(function(){
  set_remote_options();
  if (curr_path != '' && curr_folderid != '' && curr_path != '') {
    $('#current_path').val(curr_path);
    listgdrive(curr_remote, curr_path, curr_folderid);
  }
});

function set_remote_options() {
  console.log(remote_names);
  var str = '<select id="remote_name" name="remote_name" class="form-control form-control-sm">';
  for(var i in remote_names) {
    if (remote_names[i] == default_remote) {
      str += '<option value="' + remote_names[i] + '" selected>' + remote_names[i] + '</option>';
    } else {
      str += '<option value="' + remote_names[i] + '">' + remote_names[i] + '</option>';
    }
  }
  str += '</select>'
  document.getElementById("remote_options_div").innerHTML = str;
}

$("body").on('click', '#reset_cache_btn', function(e) {
  e.preventDefault();
  $.ajax({
    url: '/'+package_name+'/ajax/'+sub+'/reset_cache',
    type: 'POST',
    cache: false,
    data: {},
    dataType: 'json',
    success: function (data) {
      if (data.ret == 'success') {
	$.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
	$.notify('<strong>실패: 캐시삭제 실패</strong>', {type: 'warning'});
      }
    }
  });
});

$("body").on('click', '#search_btn', function(e) {
  e.preventDefault();
  remote_name = document.getElementById('remote_name').value;
  listgdrive(remote_name);
});

$("body").on('click', '#refresh_btn', function(e) {
  e.preventDefault();
  remote_name = document.getElementById('remote_name').value;
  listgdrive(curr_remote, curr_path, curr_folderid, true);
});

let listgdrive = (remote_name, path = '/', folderid = 'root', force=false) => {
  curr_remote = remote_name;
  curr_path = path;
  curr_folderid = folderid;
  $.ajax({
      url: '/'+package_name+'/ajax/'+sub+'/listgdrive',
      type: 'POST',
      cache: false,
      data: {
	  remote_name: remote_name,
          path: path,
          folderid : folderid,
	  force: force
      },
      dataType: 'json'
  }).done((data) => {
      if (data.list.length == 0) {
        return false;
      }
      let new_obj = ``;
      const path_spliter = (path.indexOf('/')>=0)?'/':'\\';
      $('#select_gdrive_file_list').empty();
      for (let dt of data.list) {
	  if (dt.trashed == true) { continue;}
	  new_obj += '<span class="list-group list-group-horizontal col-md-12" style="align:left;">'
	  if (dt.mimeType == 'application/vnd.google-apps.folder') {
	    new_obj += '<span class="list-group-item col-md-2">dir</span>'
	  } else if (dt.mimeType == 'application/vnd.google-apps.shortcut') {
	    new_obj += '<span class="list-group-item col-md-2">Shorcut</span>'
	  } else {
            if (dt.mimeType.startsWith('application/')) {
            	mtype = dt.mimeType.split('/')[1]
		if (mtype.startsWith('vnd.google-apps.')) {
	          mtype = mtype.split('.').pop()
		}
	    } else {
            	mtype = dt.mimeType.split('/')[0]
	    }
	    new_obj += '<span class="list-group-item col-md-2">'+mtype+'</span>'
	  }
	  if (dt.mimeType == 'application/vnd.google-apps.shortcut') {
            new_obj += '<a href="#" class="list-group-item list-group-item-action item_path col-md-8" mtype="'+dt.shortcutDetails.targetMimeType+'" folderid="'+dt.shortcutDetails.targetId+'" style="text-align:left;">'+dt.name+'</a>';
	  } else {
            new_obj += '<a href="#" class="list-group-item list-group-item-action item_path col-md-8" mtype="'+dt.mimeType+'" folderid="'+dt.id+'" style="text-align:left;">'+dt.name+'</a>';
	  }
	  new_obj += '<span class="list-group-item col-md-2">'
	  if (dt.mimeType == 'application/vnd.google-apps.folder' || dt.mimeType == 'application/vnd.google-apps.shortcut') {
	    new_obj += '-';
	  } else {
	    new_obj += humanFileSize(dt.size);
	  }
	  new_obj += '</span>'
	  new_obj += '</span>'

      }
      $('#select_gdrive_file_list').append(new_obj);
      $('.item_path').off('click').click((evt) => {
          let new_path = '';
          if ($(evt.currentTarget).text() === '..'){
              let split_path = '';
              split_path = path.split(path_spliter);
              split_path.pop();
              new_path = split_path.join(path_spliter);
              if (new_path.length === 0){
                  new_path = path_spliter
	          new_folderid = 'root'
	      } else {
	          new_folderid = $(evt.currentTarget).attr('folderid');
	      }
          } else {
              new_path = (path !== path_spliter) ? path + path_spliter + $(evt.currentTarget).text() : path + $(evt.currentTarget).text();
	      new_folderid = $(evt.currentTarget).attr('folderid');
          }
	  mtype = $(evt.currentTarget).attr('mtype');
	  if (mtype == "application/vnd.google-apps.folder") {
            $('#current_path').val(new_path);
            listgdrive(remote_name, new_path, new_folderid);
	  }  else if (mtype.startsWith('video')) {
            play_video(new_folderid, mtype);
	  } else {
	    alert('지원하지 않는 미디어 유형입니다.\n(type; '+mtype+')');
	  }
      });
  }).fail((data) => {
      $.notify('<strong>경로 읽기 실패</strong><br/>${add_path}', {type: 'danger'});
  });
  return false;
}

$(function(){
    $('#playvideo_modal').modal({
        show: false
    }).on('hidden.bs.modal', function(){
        //$(this).find('video')[0].pause();
	player.pause();
    });
});

function play_video(fileid, mtype) {
  var str = '';
  var video_url = proxy_url + ((proxy_url.indexOf('?') == -1) ? '?' : '&') + 'f=' + fileid + '&r=' +curr_remote;
  player = videojs('player');
  player.src({type: 'video/mp4', src: video_url});
  //player.src({type: mtype, src: video_url});
  $("#playvideo_modal").modal();
  player.play();
}


</script>
{% endblock %}
